.hometitle{border-radius: 3px 3px 0 0;padding: 0 0 10px;text-align: center;}
.editTypeC{display: flex;padding:20px 10%;
    .editTypeson{flex: 1;border-right: 1px solid #F4F4F4;text-align: center;line-height: 40px;cursor: pointer;
        .stateicon{width: 40px;height:25px;display:inline-block;position: relative;top:10px;background: url(publisher-b-24-with-2.png) no-repeat center top;}
        .sicon1{background-position: 0 -135px;} 
        .sicon2{background-position: 0 -27px;}
        .sicon3{background-position: 0 -108px;}
        .sicon4{background-position: 0 -81px;}
    }
    .editTypeson:nth-last-child(1){border-right: 0;}
}
.homeaddinfoC{border: 2px solid #ACB5C9;margin-top: 10px;position: relative;margin: 15px;
    textarea{width: 100%;resize: vertical;height: 52px;font-size: 16px;}
}
.ANSsubmitLine{padding: 0 10px 10px;text-align: right;background-color: #F1F4FA;
    a{background-color: #5bb75b;
        background-image: linear-gradient(to bottom, #62c462, #51a351);
        background-repeat: repeat-x;
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
        border-radius: 4px;
        color: #fff;
    }
}






















